@import "tailwindcss";

@layer base {
  main {
    @apply max-w-xl mx-auto
  }
  h1 {
    @apply text-[2.25rem] font-normal;
  }
  h2 {
    @apply text-[1.5rem] italic mb-[1rem];
  }
  h3 {
    @apply text-[1.125rem] font-normal;
  }
  p, li {
    @apply text-[1rem] font-normal;
  }
  em {
    @apply text-[0.875rem] italic;
  }
  ul {
    @apply list-disc pl-6;
  }
  a {
    @apply underline underline-offset-2 text-inherit text-[1rem];
  }
}
