@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .transitionAll {
    @apply transition-all duration-300 ease-in-out
  }
}

.swiper-button-next, .swiper-button-prev {
  color: #5BBA6F !important;
}

.swiper-pagination-bullet-active {
  background-color: #5BBA6F !important;
}

.scroll-icon::after {
  content: "";
  width: 4px;
  height: 6px;
  background-color: #242424;
  border-radius: 2px;
  animation: scroll 1000ms infinite alternate-reverse;
}

@keyframes scroll {
  0% {
    transform: translateY(3px);
  }

  100% {
    transform: translateY(-3px);
  }
}

.screenMinusNav {
  min-height: calc(100dvh - 100px);
}

/* scroll bar */
/*width*/
::-webkit-scrollbar {
  width: 12px;
}

/*track*/
::-webkit-scrollbar-track {
  background: rgb(34, 34, 34);
}

/*thumb*/
::-webkit-scrollbar-thumb {
  background: rgb(91, 186, 111);
}


.modalShadow {
  box-shadow: 0 20px 80px 0 rgb(0, 0, 0, 0.55);
}

/* shapes */
/* SHAPES  */
.shape {
  position: fixed;
}

.shape--0 {
  top: 15vh;
  left: 5vw;
}

.shape--1 {
  top: 15vh;
  left: 50vw;
}

.shape--2 {
  top: 15vh;
  left: 80vw;
}

.shape--3 {
  top: 50vh;
  left: 5vw;
}

.shape--4 {
  top: 50vh;
  left: 50vw;
}

.shape--5 {
  top: 50vh;
  left: 80vw;
}

.shape--6 {
  top: 80vh;
  left: 5vw;
}

.shape--7 {
  top: 80vh;
  left: 50vw;
}

.shape--8 {
  top: 80vh;
  left: 80vw;
}